.font-sm {
  font-size: 12px;
}

.font-md {
  font-size: 14px;
}

.font-mdx {
  font-size: 16px;
}

.font-lg {
  font-size: 20px;
}

.font-xl {
  font-size: 25px;
}

.font-xxl {
  font-size: 45px;
}

.font-xxxl {
  font-size: 60px;
}

.font-carousel {
  font-size: 24px;
}

.carousel-icon-ls {
  width: 300px;
}

.font-msrrt {
  font-family: "Montserrat", sans-serif;
}

.font-sserif {
  font-family: "Source Serif 4", serif;
  font-weight: 350;
}

.w-60 {
  width: 60%;
}

.w-45 {
  width: 45% !important;
}

.h-40 {
  height: 45%;
}

.color-primary {
  color: #1C3F81;
}

.color-secondary {
  color: #2276BB;
}

.color-tertiary {
  color: #0040A6;
}

.color-fourth {
  color: #71D2FD;
}

.color-fifth {
  color: #A2E3F4;
}

.color-sixth {
  color: #F2F9FB;
}

.color-lgrey {
  color: #8F8F8F;
}

.color-gray {
  color: #6E6E6E;
}

.color-green {
  color: #27745C;
}

.b-primary {
  background-color: #1C3F81 !important;
}

.b-secondary {
  background-color: #2276BB !important;
}

.b-tertiary {
  background-color: #0040A6 !important;
}

.b-fourth {
  background-color: #71D2FD !important;
}

.b-fifth {
  background-color: #A2E3F4 !important;
}

.b-sixth {
  background-color: #F2F9FB !important;
}

.b-seventh {
  background-color: #ECF5F9 !important;
}

.b-eighth {
  background-color: #F8F8F8 !important;
}

.b-ninth {
  background-color: #F5F4EF !important;
}

.b-apple-green {
  background-color: #799B1C !important;
}

.b-relative {
  position: relative;
}

.b-gray {
  background-color: #6E6E6E;
}

.b-lgray {
  background-color: #8F8F8F;
}

.language-es {
  color: #B8FFFF;
}

.language-en {
  color: #E74900;
}

.navbar {
  background-color: #1C3F81 !important;
}

.navbar-nav {
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-around;
  width: 500px;
}

.nav-link {
  color: white !important;
}

.d-styles {
  left: 51% !important;
  transform: translateX(-51%);
  background-color: #71D2FD !important;
  top: 67px !important;
  border-radius: 0px !important;
}

.d-item {
  color: #1C3F81 !important;
}

.d-item:hover {
  background-color: #71D2FD !important;
  font-weight: bold;
}

.image_carousel {
  width: 100%;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0 !important;
}

.carousel-button {
  border-radius: 50% !important;
  height: 8px !important;
  width: 8px !important;
}

.container__titulo-slides {
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}

.wave-background {
  background-image: url("../public/images/bg-agua.jpg");
  background-size: cover;
  background-repeat: repeat-x;
}

.alm-text-tanks,
.alm-text-capacity {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.alm-text-capacity {
  text-shadow: 2px 2px 4px #000000;
  font-size: 40px;
}

.n-tanks {
  font-size: 120px;
}

.c-tanks {
  font-size: 70px;
}

.m3 {
  font-size: 80px;
}

.map-text {
  position: absolute;
  top: 10%;
  left: 60%;
}

.ico-map {
  position: absolute;
  top: 59%;
  left: 31%;
}

.text-footer {
  height: 20px;
}

.pages-slides-text {
  height: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100%;
}

.mapa-rutas-pamsa {
  width: 500px;
}

.navbar-styles {
  width: 50%;
}

.footer-bar {
  width: 50%;
}

.tons500-image {
  width: 60%;
}

.ledesma-image {
  width: 15%;
}

.seaboard-image {
  width: 25%;
}

.balbula-image {
  width: 12%;
}

.medium-width {
  width: 50%;
}

@media (max-width: 768px) {
  .font-sm {
    font-size: 10px;
  }
  .font-md {
    font-size: 12px;
  }
  .font-mdx {
    font-size: 14px;
  }
  .font-lg {
    font-size: 16px;
  }
  .font-xl {
    font-size: 17px;
  }
  .font-xxl {
    font-size: 22px;
  }
  .font-xxxl {
    font-size: 40px;
  }
  .font-carousel {
    font-size: 10px;
  }
  .alm-text-tanks {
    font-size: 40px;
  }
  .alm-text-capacity {
    font-size: 24px;
  }
  .n-tanks {
    font-size: 60px;
  }
  .c-tanks {
    font-size: 40px;
  }
  .m3 {
    font-size: 40px;
  }
  .w-sm {
    width: 75% !important;
  }
  .w-footer-icons {
    width: 30px;
  }
  .carousel-icon-ls {
    width: 150px;
  }
  .map-text {
    font-size: 12px;
    position: inherit;
    left: 0;
  }
  .alm-capacity {
    flex-direction: column;
  }
  .d-styles {
    left: 0% !important;
    transform: translateX(0%);
    top: 0px !important;
  }
  .navbar-styles {
    width: 100% !important;
  }
  .footer-items {
    width: 25%;
  }
  .text-footer {
    flex-direction: column;
    height: fit-content;
    text-align: center;
  }
  .tons500-image {
    width: 90%;
  }
  .ledesma-image {
    width: 35%;
  }
  .seaboard-image {
    width: 50%;
    height: 50%;
  }
  .balbula-image {
    width: 20%;
  }
  .mapa-rutas-pamsa {
    width: 90%;
  }
  .navbar-toggler-icon {
    background-image: url(../public/images/vectors/menu.svg) !important;
    color: white !important;
  }
  .navbar-toggler {
    border: none !important;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .medium-width {
    width: 95%;
  }
}
@media (min-width: 1570px) {
  .font-sm {
    font-size: 16px;
  }
  .font-md {
    font-size: 18px;
  }
  .font-mdx {
    font-size: 24px;
  }
  .font-lg {
    font-size: 30px;
  }
  .font-xl {
    font-size: 33px;
  }
  .font-xxl {
    font-size: 47px;
  }
  .font-xxxl {
    font-size: 55px;
  }
  .alm-text-tanks {
    font-size: 70px;
  }
  .alm-text-capacity {
    font-size: 50px;
  }
  .n-tanks {
    font-size: 130px;
  }
  .c-tanks {
    font-size: 70px;
  }
  .m3 {
    font-size: 70px;
  }
  .wave-background {
    background-repeat: unset;
    background-size: contain;
  }
}
@media (min-width: 440px) and (max-width: 690px) {
  .liq-solids {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .font-sm {
    font-size: 10px;
  }
  .font-md {
    font-size: 12px;
  }
  .font-mdx {
    font-size: 14px;
  }
  .font-lg {
    font-size: 16px;
  }
  .font-xl {
    font-size: 20px;
  }
  .font-xxl {
    font-size: 25px;
  }
  .font-xxxl {
    font-size: 50px;
  }
  .alm-text-tanks {
    font-size: 40px;
  }
  .alm-text-capacity {
    font-size: 20px;
  }
  .n-tanks {
    font-size: 40px;
  }
  .c-tanks {
    font-size: 30px;
  }
  .m3 {
    font-size: 30px;
  }
  .mapa-rutas-pamsa {
    width: 300px;
  }
}
.chile-map-text {
  position: absolute;
  top: 10%;
  left: 5%;
}

.uruguay-map-text {
  position: absolute;
  top: 10%;
  right: 5%;
}

.list {
  list-style-type: none;
}

.logo-pamsa-bco {
  width: 300px;
}

@media (max-width: 768px) {
  .logo-pamsa-bco {
    width: 200px;
  }
}
.ubication-text {
  position: absolute;
  top: 30%;
  left: 50%;
}

.terminal-icons-container {
  border-right: 1px solid #8F8F8F;
  height: 200px;
}

.maps2-puerto-pamsa {
  width: 500px;
}

@media (max-width: 1130px) {
  .terminal-icons-container {
    border: none !important;
    width: 120px;
  }
  .terminal-icons-image {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .ubication-text {
    position: inherit;
    left: 0;
    text-align: center;
  }
  .maps2-puerto-pamsa {
    width: 80%;
  }
}
.line-image {
  position: absolute;
  top: 50%;
}

.lab-icon {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 80%;
  height: 100%;
}

@media (max-width: 768px) {
  .lab-icon {
    width: 70%;
  }
}
.ambiente-text {
  position: absolute;
  top: 5%;
  left: 5%;
  min-width: 60%;
  max-width: 60%;
  max-height: 90%;
  min-height: 90%;
}

.circle-text {
  position: absolute;
  top: 12%;
  left: 30%;
}

@media (max-width: 768px) {
  .ambiente-text {
    position: inherit;
    min-width: 100%;
    min-height: 100%;
    left: 0;
  }
}
.mapa-solapa-rutas {
  width: 500px;
}

@media (max-width: 768px) {
  .mapa-solapa-rutas {
    width: 90%;
  }
}
.contact-container {
  width: 45%;
}

@media (max-width: 768px) {
  .contact-container {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
