.font-sm {
  font-size: 0.8vw;
}

.font-md {
  font-size: 1vw;
}

.font-mdx {
  font-size: 1.2vw;
}

.font-lg {
  font-size: 1.5vw;
}

.font-xl {
  font-size: 2vw;
}

.font-xxl {
  font-size: 3vw;
}

.font-msrrt {
  font-family: "Montserrat", sans-serif;
}

.font-sserif {
  font-family: "Source Serif 4", serif;
  font-weight: 350;
}

.w-60 {
  width: 60%;
}

.h-40 {
  height: 45%;
}

.color-primary {
  color: #1C3F81;
}

.color-secondary {
  color: #2276BB;
}

.color-tertiary {
  color: #0040A6;
}

.color-fourth {
  color: #71D2FD;
}

.color-fifth {
  color: #A2E3F4;
}

.color-sixth {
  color: #F2F9FB;
}

.color-lgrey {
  color: #8F8F8F;
}

.b-primary {
  background-color: #1C3F81 !important;
}

.b-secondary {
  background-color: #2276BB !important;
}

.b-tertiary {
  background-color: #0040A6 !important;
}

.b-fourth {
  background-color: #71D2FD !important;
}

.b-fifth {
  background-color: #A2E3F4 !important;
}

.b-sixth {
  background-color: #F2F9FB !important;
}

.b-relative {
  position: relative;
}

.b-gray {
  background-color: #6E6E6E;
}

.b-lgray {
  background-color: #8F8F8F;
}

.language-es {
  color: #B8FFFF;
}

.language-en {
  color: #E74900;
}

.navbar {
  background-color: #1C3F81 !important;
}

.navbar-nav {
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-around;
  width: 500px;
}

.nav-link {
  color: white !important;
}

.d-styles {
  left: 51% !important;
  transform: translateX(-51%);
  background-color: #71D2FD !important;
  top: 67px !important;
  border-radius: 0px !important;
}

.d-item {
  color: #1C3F81 !important;
}

.d-item:hover {
  background-color: #71D2FD !important;
  font-weight: bold;
}

.image_carousel {
  width: 100%;
}

.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0 !important;
}

.carousel-button {
  border-radius: 50% !important;
  height: 8px !important;
  width: 8px !important;
}

.container__titulo-slides {
  color: white;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}

.wave-background {
  background-image: url("../public/images/bg-agua.jpg");
  background-size: cover;
  background-repeat: repeat-x;
}

.alm-text-tanks, .alm-text-capacity {
  position: absolute;
  top: 40%;
  left: 10%;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}

.alm-text-capacity {
  text-shadow: 2px 2px 4px #000000;
  font-size: 3vw;
}

.n-tanks {
  font-size: 8vw;
}

.c-tanks {
  font-size: 5vw;
}

.m3 {
  font-size: 5vw;
}

.map-text {
  position: absolute;
  top: 10%;
  left: 60%;
}

.ico-map {
  position: absolute;
  top: 59%;
  left: 31%;
}

.text-footer {
  height: 20px;
}

@media (min-width: 1570px) {
  .wave-background {
    background-repeat: unset;
    background-size: contain;
  }
}
.chile-map-text {
  position: absolute;
  top: 10%;
  left: 5%;
}

.uruguay-map-text {
  position: absolute;
  top: 10%;
  right: 5%;
}

/*# sourceMappingURL=style.css.map */
