.ambiente-text {
    position: absolute;
    top: 5%;
    left: 5%;
    min-width: 60%;
    max-width: 60%;
    max-height: 90%;
    min-height: 90%;
}

.circle-text {
    position: absolute;
    top: 12%;
    left: 30%;
}

.ico-circulo{
    width: 400px;
}

@media (max-width: 768px) {
    .ambiente-text {
        position: inherit;
        min-width: 100%;
        min-height: 100%;
        left: 0;
    }
    
    .ico-circulo{
        width: 300px
    }
}