.ambiente-text {
    position: absolute;
    top: 5%;
    left: 5%;
    min-width: 60%;
    max-width: 60%;
    max-height: 90%;
    min-height: 90%;
}

.circle-text {
    position: absolute;
    top: 12%;
    left: 30%;
}

.ico-circulo-container{
    // width: fit-content;
    width: fit-content;
    // background-color: pink;
}
.ico-circulo{
    width: 550px;
}



@media (max-width: 768px) {

    .ambiente-text {
        position: inherit;
        min-width: 100%;
        min-height: 100%;
        left: 0;
    }

    .ico-circulo{
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .ico-circulo {
        width: 350px;
    }
}

@media (min-width: 1200px) and (max-width: 1570px) {
    .ico-circulo {
        width: 450px;
    }
}