.chile-map-text {
    position: absolute;
    top: 10%;
    left: 5%;
}

.uruguay-map-text {
    position: absolute;
    top: 10%;
    right: 5%;
}

.list{
    list-style-type: none;
}

.logo-pamsa-bco{
    width: 300px;
}

@media (max-width: 768px) {
    .logo-pamsa-bco{
        width: 200px;
    }
}