@import "variables";

.font-sm {
    font-size: 0.8vw;
}

.font-md {
    font-size: 1vw;
}

.font-lg {
    font-size: 1.5vw;
}

.font-xl {
    font-size: 2vw;
}

.font-xxl {
    font-size: 3vw;
}

.font-msrrt {
    font-family: $font-family-montserrat;
}

.font-sserif {
    font-family: $font-family-source-serif;
    font-weight: 350;
}

.w-60 {
    width: 60%;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-tertiary {
    color: $tertiary-color;
}

.b-secondary {
    background-color: $secondary-color !important;
}

.b-relative {
    position: relative;
}

.b-gray {
    background-color: $gray;
}

.b-lgray {
    background-color: $light-gray;
}

.language-es{
    color: $active-language;
}

.language-en{
    color: $inactive-language;
}

.navbar {
    background-color: $primary-color !important;
}

.navbar-nav {
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-around;
    width: 500px;
}

.nav-link {
    color: white !important;
}

.d-styles {
    left: 51% !important;
    transform: translateX(-51%);
    background-color: $fourth-color !important;
    top: 67px !important;
    border-radius: 0px !important;
}

.d-item{
    color: $primary-color !important;

}
.d-item:hover{
    background-color: $fourth-color !important;
    font-weight: bold;
}

.image_carousel {
    width: 100%;
}

.carousel-caption {
    // background-color: $primary-color-transparent;
    width: 100%;
    height: 100%;
    left: 0 !important;

}

.carousel-button{
    border-radius: 50% !important;
    height: 8px !important;
    width: 8px !important;
}

.container__titulo-slides {
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px !important;
    height: 50px !important;
}

.wave-background {
    background-image: url("../images/bg-agua.jpg");
    // background-size: contain;
    background-repeat: repeat-x;

}

.alm-text-tanks, .alm-text-capacity{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-weight: bold;
    font-size: 4vw;
}

.alm-text-capacity{
    text-shadow: 2px 2px 4px #000000;
    font-size: 3vw;
}

.n-tanks{
font-size: 8vw;
}

.c-tanks{
    font-size: 5vw;
}

.m3{
    font-size: 5vw;
}

.map-text {
    position: absolute;
    top: 10%;
    left: 60%;
}

.ico-map {
    position: absolute;
    top: 59%;
    left: 31%;
}

.text-footer {
    height: 20px;
}


@media (min-width: 1570px){
    .wave-background {
    background-repeat: unset;
        background-size: contain;
    }
}
