@import "variables";

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.font-mdx {
    font-size: 16px;
}

.font-lg {
    font-size: 20px;
}

.font-xl {
    font-size: 25px;
}

.font-xxl {
    font-size: 40px;
}

.font-xxxl {
    font-size: 60px;
}

.font-carousel {
    font-size: 24px;
}

.carousel-icon-ls {
    width: 300px;
}

.font-msrrt {
    font-family: $font-family-montserrat;
}

.font-sserif {
    font-family: $font-family-source-serif;
    font-weight: 350;
}

.w-60 {
    width: 60%;
}

.w-45 {
    width: 45% !important;
}

.h-45 {
    height: 45%;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-tertiary {
    color: $tertiary-color;
}

.color-fourth {
    color: $fourth-color;
}

.color-fifth {
    color: $fifth-color;
}

.color-sixth {
    color: $sixth-color;
}

.color-lgrey {
    color: $light-gray;
}

.color-gray {
    color: $gray;
}

.color-green {
    color: $green;
}

.b-primary {
    background-color: $primary-color !important;
}

.b-secondary {
    background-color: $secondary-color !important;
}

.b-tertiary {
    background-color: $tertiary-color !important;
}

.b-fourth {
    background-color: $fourth-color !important;
}

.b-fifth {
    background-color: $fifth-color !important;
}

.b-sixth {
    background-color: $sixth-color !important;
}

.b-seventh {
    background-color: $seventh-color !important;
}

.b-eighth {
    background-color: $eighth-color !important;
}

.b-ninth {
    background-color: $ninth-color !important;
}

.b-apple-green {
    background-color: $apple-green !important;
}

.b-relative {
    position: relative;
}

.b-gray {
    background-color: $gray;
}

.b-lgray {
    background-color: $light-gray;
}

.language-es {
    color: $active-language;
}

.language-en {
    color: $inactive-language;
}

.navbar {
    background-color: $primary-color !important;
}

.navbar-nav {
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    justify-content: space-around;
    width: 500px;
}

.nav-link {
    color: white !important;
}

.d-styles {
    left: 51% !important;
    transform: translateX(-51%);
    background-color: $fourth-color !important;
    top: 67px !important;
    border-radius: 0px !important;
}

.d-item {
    color: $primary-color !important;

}

.d-item:hover {
    background-color: $fourth-color !important;
    font-weight: bold;
}

.image_carousel {
    width: 100%;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    left: 0 !important;
}

.carousel-button {
    border-radius: 50% !important;
    height: 8px !important;
    width: 8px !important;
}

.container__titulo-slides {
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 50px !important;
    height: 50px !important;
}

.wave-background {
    background-image: url("../public/images/bg-agua.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

.alm-text-tanks,
.alm-text-capacity {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.alm-text-capacity {
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
}

.n-tanks {
    font-size: 120px;
}

.c-tanks {
    font-size: 70px;
}

.m3 {
    font-size: 80px;
}

.map-text {
    position: absolute;
    top: 10%;
    left: 60%;
}

.ico-map {
    position: absolute;
    top: 59%;
    left: 31%;
}

.text-footer {
    height: 20px;
}

.pages-slides-text {
    height: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 100%;
    height: 100%;
}

.mapa-rutas-pamsa {
    width: 500px
}

.navbar-styles {
    width: 50%;
}

.footer-bar {
    width: 50%;
}

.tons500-image {
    width: 60%
}

.ledesma-image {
    width: 35%;
}

.seaboard-image {
    width: 45%;
}

.balbula-image {
    width: 12%;
}

.medium-width {
    width: 50%;
}

.three-quarters-width {
    width: 75%;
}

@media (max-width: 768px) {
    .font-sm {
        font-size: 10px;
    }

    .font-md {
        font-size: 12px;
    }

    .font-mdx {
        font-size: 14px;
    }

    .font-lg {
        font-size: 16px;
    }

    .font-xl {
        font-size: 16px;
    }

    .font-xxl {
        font-size: 22px;
    }

    .font-xxxl {
        font-size: 30px;
    }

    .font-carousel {
        font-size: 12px;
    }

    .alm-text-tanks {
        font-size: 40px;
    }

    .alm-text-capacity {
        font-size: 24px;
    }

    .n-tanks {
        font-size: 60px;
    }

    .c-tanks {
        font-size: 40px;
    }

    .m3 {
        font-size: 40px;
    }

    .w-sm {
        width: 75% !important;
    }

    .w-footer-icons {
        width: 30px;
    }

    .carousel-icon-ls {
        width: 150px;
    }

    .map-text {
        font-size: 12px;
        position: inherit;
        left: 0;
    }

    .alm-capacity {
        flex-direction: column;
    }

    .d-styles {
        left: 0% !important;
        transform: translateX(-0%);
        top: 0px !important;
    }

    .navbar-styles {
        width: 100% !important;
    }

    .footer-items {
        width: 25%;
    }

    .text-footer {
        flex-direction: column;
        height: fit-content;
        text-align: center;
    }

    .tons500-image {
        width: 90%;
    }

    .ledesma-image {
        width: 35%;
    }

    .seaboard-image {
        width: 50%;
        height: 50%;
    }

    .balbula-image {
        width: 20%;
    }

    .mapa-rutas-pamsa {
        width: 90%;
    }

    .navbar-toggler-icon {
        background-image: url(../public/images/vectors/menu.svg) !important;
        color: white !important;
    }

    .navbar-toggler {
        border: none !important;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 30px !important;
        height: 30px !important;
    }

    .medium-width {
        width: 95%;
    }

    .three-quarters-width {
        width: 90%;
    }
}

@media (min-width: 1570px) {
    .font-sm {
        font-size: 16px;
    }

    .font-md {
        font-size: 18px;
    }

    .font-mdx {
        font-size: 24px;
    }

    .font-lg {
        font-size: 30px;
    }

    .font-xl {
        font-size: 33px;
    }

    .font-xxl {
        font-size: 47px;
    }

    .font-xxxl {
        font-size: 65px;
    }

    .alm-text-tanks {
        font-size: 70px;
    }

    .alm-text-capacity {
        font-size: 50px;
    }

    .n-tanks {
        font-size: 130px;
    }

    .c-tanks {
        font-size: 70px;
    }

    .m3 {
        font-size: 70px;
    }

    .wave-background {
        background-repeat: unset;
        background-size: contain;
    }
}

@media (min-width: 440px) and (max-width: 690px) {
    .liq-solids {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .font-sm {
        font-size: 10px;
    }

    .font-md {
        font-size: 12px;
    }

    .font-mdx {
        font-size: 14px;
    }

    .font-lg {
        font-size: 16px;
    }

    .font-xl {
        font-size: 20px;
    }

    .font-xxl {
        font-size: 25px;
    }

    .font-xxxl {
        font-size: 35px;
    }

    .alm-text-tanks {
        font-size: 40px;
    }

    .alm-text-capacity {
        font-size: 20px;
    }

    .n-tanks {
        font-size: 40px;
    }

    .c-tanks {
        font-size: 30px;
    }

    .m3 {
        font-size: 30px;
    }

    .mapa-rutas-pamsa {
        width: 300px;
    }
}