.line-image{
    position: absolute;
    top: 50%;
}

.lab-icon {
    height: 100%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 80%;
    height: 100%;
}

