
.ubication-text {
    position: absolute;
    top: 30%;
    left: 50%;
}

.terminal-icons-container{
    // border only end 
    border-right: 1px solid $light-gray;
    height: 220px;
    width: 280px;
}

.maps2-puerto-pamsa{
    width: 50%;
}


.terminal-icons-image{
    height: 100px !important;
    
}

@media (max-width: 1130px) {
    .terminal-icons-container{
        border: none !important;
        height: 150px;
        width: 150px;
    }
    .terminal-icons-image{
        height: 70px !important;
        
    }
    
}

@media (max-width: 768px) {
    .ubication-text{
        position: inherit;
        left: 0;
        text-align: center;
    }

    .maps2-puerto-pamsa{
        width: 80%;
    }
}
