$primary-color: #1C3F81;
$secondary-color:     #2276BB;

$font-family-montserrat: "Montserrat", sans-serif;


$primary:       #1C3F81;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

// TO DO cambiar primary color por primary