$primary-color: #1C3F81;
$secondary-color:     #2276BB;
$tertiary-color: #0040A6;
$light-gray: #8F8F8F;
$gray: #6E6E6E;

$font-family-montserrat: "Montserrat", sans-serif;
$font-family-source-serif:  "Source Serif 4", serif;


$primary:       #1C3F81;
// $success:       $green;
// $info:          $cyan;
// $warning:       $yellow;
// $danger:        $red;
// $light:         $gray-100;
// $dark:          $gray-900;

// TO DO cambiar primary color por primary