$primary-color: #1C3F81;
$secondary-color:     #2276BB;
$tertiary-color: #0040A6;
$fourth-color: #71D2FD;
$fifth-color: #A2E3F4;
$sixth-color: #F2F9FB;
$seventh-color: #ECF5F9;
$eighth-color: #F8F8F8;
$ninth-color: #F5F4EF;

$light-gray: #8F8F8F;
$gray: #6E6E6E;
$green: #27745C;
$active-language: #B8FFFF;
$inactive-language: #E74900;


$font-family-montserrat: "Montserrat", sans-serif;
$font-family-source-serif:  "Source Serif 4", serif;

